<!DOCTYPE html>
<html lanh="en">
<head>
    <meta charset="UFT-8">
    <meta name="'viewport" content="width=device-width, intial-scale=1.0">
    <title><%= title %></title> 
</head>
<body>
    <header>
        <h1>Bem-vindo ao Water Game</h1>
    </header>

    <main>
        <p>O jogo para você competir com seus amigos.</p>
        <a href="/login">Login</a> | <a href="/register">Registrar</a>
    </main>

    <footer>
        <p>&copy; 2024 Water Game</p>
    </footer>
</body>
</html>